.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  overflow: scroll;
  min-height: 100vh;
}
#gridContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: grid;
}

.square {
  border: 1px solid transparent;
  transition: all 1.2s;
  opacity: 0.25;
}

@keyframes slideIn {
  0% {
    transform: translateY(25%);
    opacity: o;
  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}


.intro {
  position: relative;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 2rem; */
  width: 70%;
  overflow: scroll;
  animation: 0.7s ease-out 0s 1 slideIn;

}


.intro h1 {
  font-size: 3rem;
  /* margin: 5rem; */
}
